<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Virtual Teste Shelrace</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

    <div class="banner">

        <div class="container">

            <div class="navbar">


                <div class="logo">
                    <img src="../img/logo.png" alt="MSFLIX" width="125px">
                </div>


                <nav>
                    <ul id="MenuItens">
                        <li><a href="" title="">Inicio</a></li>
                        <li><a href="" title="">Produtos</a></li>
                        <li><a href="" title="">Contatos</a></li>
                    </ul>
                </nav>

                <img src="../img/carrinho.png" width="30px" height="30px">

                <img src="../img/menu.png" class="menu-celular" onclick="menucelular()">

            </div>



            <div class="linha">
                <div class="col-2">
                    <h1>Escolha novo estilo de vida <br> Compre os novos produtos</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, dignissimos?</p>
                    <br><a href="" class="btn">Mais Informacoes</a>
                </div>
                <div class="col-2">
                    <img src="../img/banner-1.png">
                </div>
            </div>

        </div>

    </div>

    <div class="categorias">

        <div class="corpo-categorias">

            <div class="linha">
                
                <div class="col-3">
                    <img src="../img/categoria-1.jpg">
                </div>

                <div class="col-3">
                    <img src="../img/categoria-2.jpg">
                </div>
                
                <div class="col-3">
                    <img src="../img/categoria-3.jpg">
                </div>

            </div>

        </div>

    </div>


    <div class="corpo-categorias">

        <h2 class="titulo">Produtos em Destaque</h2>

        <div class="linha">


            <div class="col-4">
                <img src="../img/produto-1.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


            <div class="col-4">
                <img src="../img/produto-2.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>
            

            <div class="col-4">
                <img src="../img/produto-3.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


            <div class="col-4">
                <img src="../img/produto-4.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


        </div>

        <h2 class="titulo">Novos Produtos</h2>

        <div class="linha">


            <div class="col-4">
                <img src="../img/produto-5.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


            <div class="col-4">
                <img src="../img/produto-6.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>
            

            <div class="col-4">
                <img src="../img/produto-7.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


            <div class="col-4">
                <img src="../img/produto-8.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


        </div>

        <div class="linha">


            <div class="col-4">
                <img src="../img/produto-9.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


            <div class="col-4">
                <img src="../img/produto-10.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>
            

            <div class="col-4">
                <img src="../img/produto-11.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


            <div class="col-4">
                <img src="../img/produto-12.jpg">
                <h4>Teste Titulo</h4>
                
                <p>R$ 56,00</p>
            </div>


        </div>
        
    </div>

    <div class="ofertas">

        <div class="corpo-categorias">

            <div class="linha">

                <div class="col-2">
                    <img src="../img/banner-2.png" class="oferta-img">
                </div>

                <div class="col-2">
                    <p>Produto Exclusivo</p>
                    <h1>Primeiro se inscreva-se no Youtube</h1>
                    <small>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores autem ducimus, aperiam excepturi magni nulla consequuntur voluptates. Accusamus, alias sed?</small>
                    <br><br> <a href="https://www.youtube.com" class="btn">Acesse aqui</a>
                </div>

            </div>

        </div>

    </div>

    <!--PROVAVELMENTE NAO NECESSESARIA-->
    <div class="depoimentos">
        <div class="corpo-categorias">
            <div class="linha">

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, fugit! Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, consequuntur?</p>
                    <img src="../img/cliente-1.png">
                    <h3>Primeira pessoa</h3>
                </div>

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, fugit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, magni.</p>
                    <img src="../img/cliente-2.png">
                    <h3>Segunda pessoa</h3>
                </div>

                <div class="col-3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti, fugit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, voluptatem?</p>
                    <img src="../img/cliente-3.png">
                    <h3>Terceira pessoa</h3>
                </div>

            </div>
        </div>
    </div>
    <!--PROVAVELMENTE NAO NECESSESARIA-->

    <div class="marcas">
        <div class="corpo-categorias">
            <div class="linha">

                <div class="col-5">
                    <img src="../img/marca-1.png">
                </div>

                <div class="col-5">
                    <img src="../img/marca-2.png">
                </div>

                <div class="col-5">
                    <img src="../img/marca-3.png">
                </div>

                <div class="col-5">
                    <img src="../img/marca-4.png">
                </div>

                <div class="col-5">
                    <img src="../img/marca-5.png">
                </div>

            </div>
        </div>
    </div>

    <footer class="rodape">

        <div class="container">
            <div class="linha">

                <div class="rodape-col-1">
                    <h3>Baixe o APP</h3>
                    <p>Plataformas disponiveis</p>
                    <div class="app-logo">
                        <img src="../img/google.png">
                        <img src="../img/apple.png">
                    </div>
                </div>

                <div class="rodape-col-2">
                    <img src="../img/logo-2.png">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti reiciendis, dolorem mollitia corporis nobis adipisci.</p>
                </div>

                <div class="rodape-col-3">
                    <h3>Mais Informacoes</h3>
                    <ul>
                        <li>Cupons</li>
                        <li>Blog</li>
                        <li>Politica de Privacidade</li>
                        <li>Contatos</li>
                    </ul>
                </div>

                <div class="rodape-col-4">
                    <h3>Rede Sociais</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                    </ul>
                </div>

            </div>
        </div>

        <hr>
        <p class="direitos">
            &#169; Todos direitos reservados a Shelrace.com.br
        </p>

    </footer>

<body>

</body>
</html>