<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja Virtual Teste Shelrace</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

    <div class="banner">

        <div class="container">

            <div class="navbar">


                <div class="logo">
                    <img src="../img/logo.png" alt="MSFLIX">
                </div>


                <nav>
                    <ul id="MenuItens">
                        <li><a href="" title="">Inicio</a></li>
                        <li><a href="" title="">Produtos</a></li>
                        <li><a href="" title="">Contatos</a></li>
                    </ul>
                </nav>

                <img src="../img/carrinho.png" width="30px" height="30px">

            </div>



            <div class="linha">
                <div class="col-2">
                    <h1>Escolha novo estilo de vida <br> Compre os novos produtos</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, dignissimos?</p>
                    <br><a href="" class="btn">Mais Informacoes</a>
                </div>
                <div class="col-2">
                    <img src="../img/banner-2.png">
                </div>
            </div>

        </div>

    </div>
<body>

</body>
</html>